<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.dxl.common">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />

        </provider>

        <service
            android:name="cn.dxl.common.services.RestartService"
            android:enabled="true"
            android:process=":restart" />

        <activity android:name="cn.dxl.common.activities.CrashActivity" />

    </application>

</manifest>
