<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.rrg.rdv">

    <!--蓝牙使用-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!--蓝牙管理-->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!--定位权限-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--定位权限-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--写入文件-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--读取文件-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--NFC权限-->
    <uses-permission android:name="android.permission.NFC" />
    <!--手机信息-->
    <!--<uses-permission android:name="android.permission.READ_PHONE_STATE" />-->
    <!--网络连接-->
    <!--<uses-permission android:name="android.permission.INTERNET" />-->
    <!--网络状态-->
    <!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->
    <!--全局对话框-->
    <!--<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />-->

    <application
        android:name="cn.dxl.common.application.App"
        android:allowBackup="false"
        android:icon="@drawable/rfid"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">

        <!--初始化Activity-->
        <activity android:name=".activities.tools.LoginActivity">
            <intent-filter>
                <!--桌面启动的意图!-->
                <action android:name="android.intent.action.MAIN" />
                <!--USB插入的意图!-->
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
                <!--桌面启动的标签!-->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!--USB的支持类型静态注册!-->
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>

        <activity android:name=".activities.tools.KeyFileEditActivity" />
        <activity android:name=".activities.tools.UnionActionActivity" />
        <activity android:name=".activities.tools.DumpEqualActivity" />
        <activity android:name=".activities.tools.DumpActivity" />
        <activity android:name=".activities.tools.FormatCovertActivity" />
        <activity android:name=".activities.tools.ChameleonSoltAliasesActivity" />
        <activity android:name=".activities.tools.ToolsAccessActivity" />
        <activity android:name=".activities.tools.AboutActicity" />

        <activity android:name=".activities.px53x.EmulateConsoleActivity" />
        <activity android:name=".activities.px53x.MfcukConsoleActivity" />
        <activity android:name=".activities.px53x.MfocConsoleActivity" />
        <activity android:name=".activities.px53x.NfcListConsoleActivity" />
        <activity android:name=".activities.px53x.HardnestedConsoleActivity" />

        <activity
            android:name=".activities.tools.MfKey32ConsoleActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout" />
        <activity
            android:name=".activities.tools.MfKey64ConsoleActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout" />

        <activity
            android:name=".activities.proxmark3.rdv4_rrg.Proxmark3Rdv4RRGConsoleActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout" />

        <activity android:name=".activities.main.AppMainDevices" />

        <activity
            android:name=".activities.connect.Proxmark3Rdv4RRGConnectActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout" />
        <activity
            android:name=".activities.main.Proxmark3Rdv4RRGMain"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout" />
        <activity
            android:name=".activities.proxmark3.rdv4_rrg.Proxmark3Rdv4RRGRedTeamConsoleActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout" />

        <activity android:name=".activities.main.GeneralNfcDeviceMain">
            <!-- NFC Tech Filter -->
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>
            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_filter" />
        </activity>

        <activity android:name=".activities.tools.MainSettingsActivity" />
        <activity android:name=".activities.connect.Acr122uHkUsbConnectActivity" />
        <activity android:name=".activities.main.PN53XNfcMain" />
        <activity android:name=".activities.main.PN53XReaderMain" />
        <activity android:name=".activities.connect.PN532UartConnectActivity" />
        <activity android:name=".activities.connect.ChameleonUsb2UartConnectActivity" />
        <activity android:name=".activities.chameleon.ChameleonGUIActivity" />
        <activity android:name=".activities.main.Proxmark3Rdv4RRGReaderMain" />

    </application>

</manifest>