<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rfidresearchgroup.communication">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application>
        <!-- 全局Context提供者 -->
        <provider
            android:name="com.proxgrind.utils.ContextContentProvider"
            android:authorities="${applicationId}.contextprovider"
            android:exported="false" />
    </application>

</manifest>
